<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

     <!--本配置文件是为工名为mvc-dispatcher的DispatcherServlet使用，提高相关的Spring MVC配置-->


    <!--DispatcherServlet上下文，只搜索@Controller标注的类，不搜索其他标注的类-->
    <context:component-scan base-package="com.web.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>



    <!--HandlerMapping无需配置，Spring MVC可以默认启动-->
    <!--DefaultAnnotationHandlerMapping annotation-driven HandlerMapping-->

    <!--扩充了驱动注解，可以将请求参数绑定到控制器参数-->
    <mvc:annotation-driven />

    <!--静态资源处理，css/js/img****注意 “/”-->
    <mvc:default-servlet-handler />
    <!--<mvc:resources mapping="/resources/**" location="/resources/" />-->


    <!--布局引擎（默认只能放在）-->
    <bean id="tilesConfigurer" class=
            "org.springframework.web.servlet.view.tiles2.TilesConfigurer" >
        <property name="definitions" >
            <list>
                <value>/WEB-INF/layout/tiles.xml</value>
            </list>
        </property>
    </bean>

    <!--<bean id="viewResolver" class=-->
    <!--"org.springframework.web.servlet.view.tiles2.TilesViewResolver" />-->

    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass">
            <value>
                org.springframework.web.servlet.view.tiles2.TilesView
            </value>
        </property>
    </bean>


    <!--配置内部资源ViewResolver。
            可以配置多个ViewResolver。
            使用order属性排序。
            ***********InternalResourceViewResolver放到最后**************
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsps/" />
        <property name="suffix" value=".jsp" />
    </bean>






<!--允许用户上传内容，限制文件上传大小为2MB-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="2097152" />
        <property name="defaultEncoding" value="UTF-8" />
        <!--推迟文件解析，以便捕获文件大小异常-->
        <property name="resolveLazily" value="true" />
     </bean>




    
    <!--注册拦截器(不配规则或/**，默认拦截所有请求)-->
    <mvc:interceptors>
        <!--拦截所有请求，解决中文乱码问题-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.web.interceptor.EncodingInterceptor"></bean>
        </mvc:interceptor>

        <!--拦截非登录用户的非法请求-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--避免死循环-->
            <mvc:exclude-mapping path="/" />
            <!--放行静态资源-->
            <mvc:exclude-mapping path="/resources/**" />
            <bean class="com.web.interceptor.IllegalRequestInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>





</beans>