*{
    margin: 0px;
    padding: 0px;
}




div#scrollBox1, div#scrollBox2{
    overflow: hidden;
    width: 400px;
    height:250px;
    margin-bottom: 50px;
}


div#scrollBox1 li, div#scrollBox2 li{
    display: block;
    /*float: left;*/
    width: 400px;
    height: 250px;
}