/*------------基本样式清除-------------*/
*{ margin:0px;  padding:0px;}
ul{ list-style:none;}
a{ text-decoration:none;}
/*button{border:none;}*/
/*---------------调试-------------*/
*{
    /*border: 1px solid #8E8E8E;*/
}


/*---------------a统一样式-----------------*/
a{
	display:block;
	/*background-color: rgb(210,210,210);*/
	text-align:center;
	color:#8E8E8E;
}

a:hover{
	color:rgb(29,161,242);
}



/*--------------------水平菜单-------------------*/
div#header ul{
	width:85%;
	/*margin: 0px auto;*/
    margin-left: 10%;
    margin-right: 5%;
	max-height: 45px;
}

div#header li{
	float:left;
	margin:12px 2px 8px;
}

div#header a{
	width:68px;
}

li#home{
    position: relative;
}
[alt=logo]{
    position: absolute;
    left: -3px;
    top: 1px;
    height: 22px;
}


div#header #signIn{
	margin-left: 680px;
}
div#header #signUp{
    margin-right: 80px;
}


/*清除浮动*/
div#header ul{
	overflow:hidden;
}

div#header {
    background-color: white;
	border-bottom:1px solid #8E8E8E;
}

/*-----时钟-----*/


#clock {
	width:55px;
	text-align: center;
	border:none;
	font-weight: bold;
	color: green;
	background: white;
}


/*-------------------内容页----------------------*/
div#content{
    height: 620px;
    width:900px;
    margin: 0px auto;
    /*background: white;*/
    /*opacity: 0.1;*/

    /*调试*/
    /*border:10px solid green;*/
    overflow: hidden;
    position: relative;
}


/*-----提交表单-----*/

div#signIn-form, div#signUp-form{
    background-color: white;
    border:1px solid rgb(205,215,220);
    width:300px;
    padding-bottom: 5px;
    border-radius: 5px;

    position: absolute;
    top:170px;
    right: 10px;
    display: none;
}

/*统一样式*/
/*表头*/
h4{
    text-align: center;
    margin: 5px 0px;
}

form>div{
    margin: 10px 13px;
}

div#content input:not(#remInput){
	border: 1px solid rgb(205,215,220);
	border-radius: 3px;
	width: 270px;
	height: 30px;
    text-indent: 10px;
}

div#content input#checkCode{
    border: 1px solid rgb(205,215,220);
    border-radius: 3px;
    width: 50px;
    height: 30px;
    padding-left: 10px;
}

/*特殊调整*/
.sfg-1,.sfg-2{
    overflow: hidden;
    margin-top: 5px;
}

.sfg-1>div,.sfg-2>div{
    float:left;
}
/*.sfg-1第一个子元素.sf*/
.sfg-1>div:first-child{
    margin-left:20px;
    margin-right: 80px;

}

.sfg-1>div:last-child{
    margin-left:10px;
}

.sfg-2>div:first-child{
    margin-left:20px;
    margin-right: 12px;

}

img#isTrue {
    opacity: 0;
    margin-left:10px;
    margin-right: 40px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    transition-duration: 0.6s;
}

#imageCheckCode{
    width: 80px;
    height: 32px;

}

#changeCheckCode {
    margin-top: 4px;
}






/*-----展示信息-----*/

div#show{
    float:left;
    margin-top: 80px;
}

div#show p{
    color:white;
    font-size: 36px;
}








div#changeGBI{
    float: right;
    margin-right: 30px;
}

div#changeGBI li{
    float: left;
}





/*#home:hover{*/
    /*border-bottom: 10px solid blue;*/
/*}*/












/*背景*/
body{
	background-image:url(../res/background02.jpg);
}
